<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/loginIn.css">
    <title>Media Booster Authentication</title>
</head>
<body>
    <div id="body-1">
        <header>
            <nav>
                <div id="nav-1">Social Media Booster</div>
                <div id="nav-2">
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    <div id="body-2">
        <div id="form-Div-Par">
            <h2>Log In</h2>
            <form action="/login" method="post">
                <div class="flex-l-i">
                    <span>Email</span>
                    <input type="text" name="email">
                </div>
                <div class="flex-l-i">
                    <span>Password</span>
                    <input type="password" name="password">
                </div>
                <input id="form-btn" type="submit"/>
            </form>
        </div>
    </div>
</body>
</html>