<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="css/mediaHome.css">
    <title>Social Media Booster</title>
</head>
<body>
    <header>
        <nav>
            <div id="nav-1">Social Media Booster</div>
            <div id="nav-2">
                <ul>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div id="nav-3">
                    <button>Sign up</button>
                    <button>Sign in</button>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section id="main-width">
            <div id="main-1">
                <div id="mainL1">Boost Followers</div>
                <div id="mainL2">Discover a comprehensive company that empowers you to generate awareness, foster engagement, connect with customers, and maximize sales potential for your business.</div>
            </div>
        </section>
    </main>
    <div id="main-down-buttons-con">
        <button id="btn-instagram">Instagram</button>
        <button id="btn-facebook" class="main-down-buttons-con-ch">Facebook</button>
        <button id="btn-youtube" class="main-down-buttons-con-ch">Youtube</button>
        <button id="btn-telegram" class="main-down-buttons-con-ch">Telegram</button>
        <button id="btn-threads" class="main-down-buttons-con-ch">Threads</button>
    </div>
    <div id="alloptions-con"></div>
    <div id="marketingDiv-par">
        <div id="marketing-l-1">Modern Instagram Marketing</div>
        <div id="marketing-l-2">Meet Social Boost, the best Organic Instagram Growth Service provider in 2023 that uses a team of hand-trained Instagram Marketers to manage and grow your account. No bots, automation or false promises.</div>
        <div id="marketing-box-par">
            <div class="marketing-box-item">
                <div class="marketing-box-i-img">
                    <span class="material-symbols-outlined">person_add</span>
                </div>
                <div class="marketing-box-i-span">Real Followers</div>
            </div>
            <div class="marketing-box-item">
                <div class="marketing-box-i-img">
                    <span class="material-symbols-outlined">favorite</span>
                </div>
                <div class="marketing-box-i-span">Increase Engagement</div>
            </div>
            <div class="marketing-box-item">
                <div class="marketing-box-i-img">
                    <span class="material-symbols-outlined">monitoring</span>
                </div>
                <div class="marketing-box-i-span">Growth Analytics</div>
            </div>
            <div class="marketing-box-item">
                <div class="marketing-box-i-img">
                    <span class="material-symbols-outlined">sentiment_satisfied</span>
                </div>
                <div class="marketing-box-i-span">24/7 Support</div>
            </div>
            <div class="marketing-box-item">
                <div class="marketing-box-i-img">
                    <span class="material-symbols-outlined">target</span>
                </div>
                <div class="marketing-box-i-span">Targeted Growth</div>
            </div>
        </div>
    </div>

    <div id="business-grow-par">
        <div id="business-grow-par-1">
            <img src="https://images.pexels.com/photos/3182773/pexels-photo-3182773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <div id="business-grow-par-2">
            <div id="business-grow-2-content">
                <section id="businessactualconent">
                    <h4>Grow your business</h4>
                    <p id="business-grow-2-content-P">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <div id="flex-near-away">
                        <div class="near-away-Div">
                            <img src="images/distance.png" alt="">
                            <span>Far far away</span>
                            <p class="n-a-p">Far far away, behind the word mountains, far from the countries.</p>
                        </div>
                        <div class="near-away-Div">
                            <img src="images/airplane.png" alt="">
                            <span>Far far away</span>
                            <p class="n-a-p">Far far away, behind the word mountains, far from the countries.</p>
                        </div>
                    </div>
                    <button>Our Services <span class="material-symbols-outlined">arrow_right_alt</span></button>
                </section>
            </div>
        </div>
    </div>
</body>
<script src="js/mediaHome.js"></script>
</html>