<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yeschef - Admin</title>
    <link rel="stylesheet" href="css/sign.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div id="main-2">
        <video src="img/login-1.mp4" autoplay loop muted></video>
    </div>
    <div id="main-1">
        <form action="/createidentity" method="post" id="signForm" enctype="multipart/form-data">
            <img src="https://static.vecteezy.com/system/resources/previews/003/026/146/non_2x/yc-logo-monogram-modern-design-template-free-vector.jpg" alt="">
            <h4>Hi there!</h4>
            <span id="formtext">Welcome to yeschef</span>
            <div class="flex-i-s">
                <span class="material-symbols-outlined">imagesmode</span>
                <input type="file" placeholder="name" name="profilePic" accept="image/*">
            </div>
            <div class="flex-i-s">
                <span class="material-symbols-outlined">id_card</span>
                <input type="text" placeholder="name" name="name">
            </div>
            <div class="flex-i-s">
                <span class="material-symbols-outlined">alternate_email</span>
                <input type="text" placeholder="you@example.com" name="email">
            </div>
            <div class="flex-i-s">
                <span class="material-symbols-outlined">lock</span>
                <input type="password" name="password">
            </div>
            <div class="flex-i-s">
                <span class="material-symbols-outlined">person</span>
                <input type="text" placeholder="position" name="position">
            </div>
            <button>Sign In</button>
        </form>
    </div>
</body>
<script src="js/sign.js"></script>
</html>