@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--mainfont);
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
:root{
    --mainfont: 'Source Sans Pro', sans-serif;
    --main-color: #000ea5;
}
#search-people-div{
    height: 100vh;
    width: 29vw;
    background-color: rgb(241, 241, 241);
    padding: 15px;
}
#search-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
#logo-image{
    width: 103%;
    filter: invert(100%);
}



#seach-people-input{
    display: flex;
    align-items: center;
    width: 80%;
    gap: 7px;
    margin: 10px auto 0px auto;
    background-color: white;
    border-radius: 6px;
    border: 1.2px solid var(--main-color);
    overflow: hidden;
    padding: 0px 0px 0px 6px;
}
#seach-people-input input{
    flex: 1;
    background-color: transparent;
    border: none;
    font-size: 16px;
    outline: none;
    padding: 0px 6px;
}
#seach-people-input span{
    color: white;
    height: 100%;
    background-color: var(--main-color);
    padding: 5px;
}


#search-people-div-par{
    width: 80%;
    margin: 18px auto 0px auto;
    min-height: 65%;
    max-height: 66%;
    overflow-y: auto;
}
/* #search-people-div-par::-webkit-scrollbar{
    background-color: aliceblue;
}
#search-people-div-par::-webkit-scrollbar-track{
    background-color: rgb(241, 241, 241);
}
#search-people-div-par::-webkit-scrollbar-thumb{
    background-color: #000ea5;
    border-radius: 12px;
} */
.search-people-div-par{
    height: 5vh;
    width: 100%;
    margin: 8px 0px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: var(--main-color);
}
.search-people-div-par img{
    width: 8%;
    border-radius: 50%;
}
.search-people-div-par span{
    font-size: 16px;
    font-weight: 500;
    opacity: 90%;
    margin-right: 20px;
    color: white;
}