*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --mainFamily: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

body{
    height: 100vh;
}

nav{
    background-color: rgba(29, 29, 29, 0.87);
    font-family: var(--mainFamily);
    font-size: 30px;
    font-weight: 600;
    padding-left: 30px;
    padding-top: 20px;
    color: rgba(255, 255, 255, 0.922);
    height: 8%;
}
header{
    height: 10%;
    background-color: rgba(29, 29, 29, 0.87);
    display: flex;
    gap: 17px;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 30px;
}
.headerChild{
    height: 55%;
    padding: 0px 20px;
    display: flex;
    gap: 75px;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.922);
    font-family: var(--mainFamily);
    font-size: 12px;
    font-weight: 500;
}
.headerChild span{
    color: rgba(255, 255, 255, 0.922);
}



main{
    height: 82%;
    overflow-y: auto;
    padding: 20px;
    background-color: #eeeeee85;
}
.main-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 20px auto 0px auto;
    border: 2px solid rgba(29, 29, 29, 0.418);
    padding: 15px 20px;
    border-radius: 20px;
    border: 3px solid rgb(118 118 118);
    background-color: rgb(29 29 29 / 91%);
}
.mainc-1{
    font-family: var(--mainFamily);
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    opacity: 90%;
    font-size: 15px;
}
.mainc-1 span{
    margin-top: 2px;
}
.mainc-2{
    font-family: var(--mainFamily);
    color: #00ff1d9e;
    font-weight: 400;
    font-size: 15px;
}
.mainc-t{
    color: white;
    opacity: 90%;
    background-color: #00ff1d9e;
    padding: 2px 5px;
    border-radius: 10px;
}
.mainc-3{
    font-family: var(--mainFamily);
    color: white;
    opacity: 90%;
    font-size: 15px;
}
.mainc-3 span:hover{
    cursor: pointer;
}