<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/billshowfood.css">
    <title>Document</title>
</head>
<body>
    <span id="tableNo">{{tableInfo}}</span>
</body>
<script src="js/billshowfood.js"></script>
</html>