<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/chefscreen.css">
    <title>Chef Screen</title>
</head>
<body>
    <div id="main-1">
        {{!-- <div class="main-1-items">
            <div class="foodHeading">SHORT EATS</div>
            <div class="foodItems">Jackfruit Cutlets (VG)</div>
            <div class="foodItems">Hot Butter Squid</div>
            <div class="foodItems">Mutton Rolls + SL Hot Sauce</div>
            <div class="foodItems">Bone Marrow Varuval + Roti</div>
            <div class="foodHeading">MAINS</div>
            <div class="foodItems">Hopper(VG)</div>
            <div class="foodItems">Hopper(VG)</div>
            <div class="foodItems">Egg Hopper</div>
            <div class="foodItems">String Hoppers(VG)</div>
            <div class="foodItems">Podi Dosa(VG)</div>
            <div class="foodItems">Podi Dosa(VG)</div>
            <div class="foodItems">Upcountry Aubergine Kari(VG)</div>
            <div class="foodItems">Chicken Kari</div>
            <div class="foodItems">Basmati Rice(VG)</div>
            <div class="foodHeading">GRILLS</div>
            <div class="foodItems">Lentil + Root Vegetable Buriani + Raita(V)</div>
            <div class="foodItems">Kalupol Roasted Half Chicken + Rasa</div>
            <div class="foodItems">Chicken Buriani + Raita</div>
        </div> --}}
        {{!-- <div class="main-1-items">Hello can this be seen</div> --}}
    </div>
    <div id="main-2">
        <button>DONE</button>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chefscreen.js"></script>
</html>