<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/dosaKothuSection.css">
    <title>Dosa / Kothu</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0" />
</head>
<body>
    <div id="main-1">
        <div class="miteamHeading">Dosa</div>
        <div class="miteamlists" id="dosa-1">
            {{!-- <div class="mitemslist">
                <span class="tableNo">14</span>
                <span class="foodName">Dosa</span>
                <span class="material-symbols-outlined Xicon">close</span>
            </div>
            <div class="mitemslist">
                <span class="tableNo">7</span>
                <span class="foodName">Veg Kothu</span>
                <span class="material-symbols-outlined Xicon">close</span>
            </div> --}}
        </div>
    </div>
    <div id="main-2">
        <div class="miteamHeading">Kothu</div>
        <div class="miteamlists" id="kothu-2">
            {{!-- <div class="mitemslist">
                <span class="tableNo">1</span>
                <span class="foodName">Hopper</span>
                <span class="material-symbols-outlined Xicon">close</span>
            </div>
            <div class="mitemslist">
                <span class="tableNo">70</span>
                <span class="foodName">Egg Hopper</span>
                <span class="material-symbols-outlined Xicon">close</span>
            </div> --}}
        </div>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="js/dosaKothuSection.js"></script>
</html>