<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/downtable.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,200,0,0" />
</head>
<body>
    <header>
        <div class="headerChild"><a href="/">UP STAIRS </a><span class="material-symbols-outlined headerChildi">pin_drop</span></div>
        <div class="headerChild"><a href="/downtable">DOWN STAIRS</a><span class="material-symbols-outlined headerChildi">pin_drop</span></div>
        <div class="headerChild"><a href="/terrace">TERRACE </a><span class="material-symbols-outlined headerChildi">pin_drop</span></div>
        <div class="headerChild" id="BtnBill"><a href="/reception">RECEPTION</a><span class="material-symbols-outlined headerChildi">pin_drop</span></div>
    </header>
    <main>
        <!-- 40 to 42 -->
        <div class="main-child" id="m-40">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="40" name="tableNo">
                <button class="tableBTN">40</button>
            </form>
        </div>
        <div class="main-child" id="m-41">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="41" name="tableNo">
                <button class="tableBTN">41</button>
            </form>
        </div>
        <div class="main-child" id="m-42">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="42" name="tableNo">
                <button class="tableBTN">42</button>
            </form>
        </div>
        <!-- 43 to 44 -->
        <div class="main-child" id="m-43">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="43" name="tableNo">
                <button class="tableBTN">43</button>
            </form>
        </div>
        <div class="main-child" id="m-44">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="44" name="tableNo">
                <button class="tableBTN">44</button>
            </form>
        </div>
        <!-- 45 to 48 -->
        <div class="main-child" id="m-45">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="45" name="tableNo">
                <button class="tableBTN">45</button>
            </form>
        </div>
        <div class="main-child" id="m-46">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="46" name="tableNo">
                <button class="tableBTN">46</button>
            </form>
        </div>
        <div class="main-child" id="m-47">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="47" name="tableNo">
                <button class="tableBTN">47</button>
            </form>
        </div>
        <div class="main-child" id="m-48">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="48" name="tableNo">
                <button class="tableBTN">48</button>
            </form>
        </div>
        <!-- 100 to 103 -->
        <div class="main-child" id="m-100">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="100" name="tableNo">
                <button class="tableBTN">100</button>
            </form>
        </div>
        <div class="main-child" id="m-101">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="101" name="tableNo">
                <button class="tableBTN">101</button>
            </form>
        </div>
        <div class="main-child" id="m-102">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="102" name="tableNo">
                <button class="tableBTN">102</button>
            </form>
        </div>
        <div class="main-child" id="m-103">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="103" name="tableNo">
                <button class="tableBTN">103</button>
            </form>
        </div>
        <!-- 49 -->
        <div class="main-child" id="m-49">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="49" name="tableNo">
                <button class="tableBTN">49</button>
            </form>
        </div>
    </main>
</body>
<script src="js/downtable.js"></script>
</html>