<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/food.css">
    <title>Document</title>
</head>
<body>
    <div id="main-1">
        <header>
            <button class="nav-btn" id="shortEats">Short / Eats</button>
            <button class="nav-btn" id="hopperDosa">Hopper / Dosa</button>
            <button class="nav-btn" id="karis">Karis</button>
            <button class="nav-btn" id="grills"> Rice + Roasts</button>
            <button class="nav-btn" id="sides">Sides</button>
            <button class="nav-btn" id="desserts">Desserts</button>
        </header>
        <div id="main-item-con">
            <!-- <div class="main-items">
                <div class="shadeimg"></div>
                <img src="https://2.bp.blogspot.com/-vmw9Cknw63s/VDNL68TbLNI/AAAAAAAAKFg/hwQHOrB_MKk/w640-h464/Paneer%2BVegetable%2BCutlets.JPG" alt="">
                <div class="main-item-con-p">
                    <span>Jackfruit Cutlets(V)</span>
                    <span>£7.5</span>
                </div>
            </div> -->
        </div>
    </div>
    <div id="main-2">
        <section id="main-2-fromtotal">
            <div class="tableInfo">
                <span id="TableNo">7</span>
                <span id="time-s-e">13.20 - 14.40</span>
            </div>
            <div class="foodtimeparts">SHORT EATS</div>
                <div class="foodl-price">
                    <span class="foodnamelist">Chicken Chettinadu Bites</span>
                    <span class="foodprice">£9.5</span>
                </div>
                <div class="foodl-price">
                    <span class="foodnamelist">Beef Rib Fry</span>
                    <span class="foodprice">£12</span>
                </div>
            <div class="foodtimeparts">MAINS</div>
                <div class="foodl-price">
                    <span class="foodnamelist">Hopper(VG)</span>
                    <span class="foodprice">£5.5</span>
                </div>
                <div class="foodl-price">
                    <span class="foodnamelist">Hopper(VG)</span>
                    <span class="foodprice">£5.5</span>
                </div>
                <div class="foodl-price">
                    <span class="foodnamelist">Hopper(VG)</span>
                    <span class="foodprice">£5.5</span>
                </div>
                <div class="foodl-price">
                    <span class="foodnamelist">Dosa(V)</span>
                    <span class="foodprice">£5.5</span>
                </div>
            <div class="foodtimeparts">GRILLS</div>
                <div class="foodl-price">
                    <span class="foodnamelist">Lentil + Root Vegetable Buriani + Raita(V)</span>
                    <span class="foodprice">£19</span>
                </div>
                <div class="foodl-price">
                    <span class="foodnamelist">Kalupol Roasted Half Chicken + Rasa</span>
                    <span class="foodprice">£16</span>
                </div>
        </section>
        <div id="totalprice">
            <input type="text">
            <button>Print</button>
            <button>Send</button>
        </div>
    </div>
</body>
<script src="js/food.js"></script>
</html>