<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,200,0,0" />
</head>
<body>
    <header>
        <div class="headerChild"><a href="/">UP STAIRS </a><span class="material-symbols-outlined headerChildi">pin_drop</span></div>
        <div class="headerChild"><a href="/downtable">DOWN STAIRS</a><span class="material-symbols-outlined headerChildi">pin_drop</span></div>
        <div class="headerChild"><a href="/terrace">TERRACE </a><span class="material-symbols-outlined headerChildi">pin_drop</span></div>
    </header>
    <main>
        <!-- 1 to 4 -->
        <div class="main-child" id="m-1">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="1" name="tableNo">
                <button class="tableBTN">1</button>
            </form>
        </div>
        <div class="main-child" id="m-2">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="2" name="tableNo">
                <button class="tableBTN">2</button>
            </form>
        </div>
        <div class="main-child" id="m-3">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="3" name="tableNo">
                <button class="tableBTN">3</button>
            </form>
        </div>
        <div class="main-child" id="m-4">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="4" name="tableNo">
                <button class="tableBTN">4</button>
            </form>
        </div>
        <!-- 7 to 9 -->
        <div class="main-child" id="m-7">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="7" name="tableNo">
                <button class="tableBTN">7</button>
            </form>
        </div>
        <div class="main-child" id="m-8">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="8" name="tableNo">
                <button class="tableBTN">8</button>
            </form>
        </div>
        <div class="main-child" id="m-9">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="9" name="tableNo">
                <button class="tableBTN">9</button>
            </form>
        </div>
        <!-- 10 to 12 -->
        <div class="main-child" id="m-10">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="10" name="tableNo">
                <button class="tableBTN">10</button>
            </form>
        </div>
        <div class="main-child" id="m-11">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="11" name="tableNo">
                <button class="tableBTN">11</button>
            </form>
        </div>
        <div class="main-child" id="m-12">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="12" name="tableNo">
                <button class="tableBTN">12</button>
            </form>
        </div>
        <!-- 20 to 23 -->
        <div class="main-child" id="m-20">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="20" name="tableNo">
                <button class="tableBTN">20</button>
            </form>
        </div>
        <div class="main-child" id="m-21">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="21" name="tableNo">
                <button class="tableBTN">21</button>
            </form>
        </div>
        <div class="main-child" id="m-22">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="22" name="tableNo">
                <button class="tableBTN">22</button>
            </form>
        </div>
        <div class="main-child" id="m-23">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="23" name="tableNo">
                <button class="tableBTN">23</button>
            </form>
        </div>
        <!-- 5 to 6 -->
        <div class="main-child" id="m-5">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="5" name="tableNo">
                <button class="tableBTN">5</button>
            </form>
        </div>
        <div class="main-child" id="m-6">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="6" name="tableNo">
                <button class="tableBTN">6</button>
            </form>
        </div>
        <!-- 14 to 16 -->
        <div class="main-child" id="m-14">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="14" name="tableNo">
                <button class="tableBTN">14</button>
            </form>
        </div>
        <div class="main-child" id="m-15">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="15" name="tableNo">
                <button class="tableBTN">15</button>
            </form>
        </div>
        <div class="main-child" id="m-16">
            <form action="/insertfoods" method="post">
                <input type="number" readonly value="16" name="tableNo">
                <button class="tableBTN">16</button>
            </form>
        </div>
    </main>
</body>
<script src="js/table.js"></script>
</html>